*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', cursive;
}
header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}
.logo-container, .nav-links, .cart{
    display: flex;
}
.logo-container{
    flex: 1;
}
nav{
    flex: 2;
}
.cart{
    flex: 1;
    font-size: small;
    justify-content: flex-end;
}
.textlogin{
    text-decoration: none;
    color: black;
}
.logo{
    font-size: larger;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    color: rgb(112, 113, 114);
    font-size: 18px;
    text-decoration: none;
}
.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction{
    flex: 1;
}
.cover{
    flex: 1;
}
.cover img{
    height: 60vh;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    font-size: 22px;
    margin-top: 5px;
    color: #585772;
}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
    border: 2px solid #6c99c3;
    background: transparent;
    color: #6c99c3;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    transition: .2s;
}
.cta-select:hover{
    background: #6c99c3;
    color: white;
}